.container{
    border: 8px solid rgb(231, 170, 56);
    display: flex;
    flex-wrap: wrap;
    height: 675px;
    align-content: stretch;

}

.container > div {
    color: white;
    width: calc(100% / 9);
    text-align: center;
    line-height: 75px;
    font-size: 75px;
  }