.container {
    margin: 20px;
    padding: 20px;
    display:grid;
    grid-template-columns: repeat(3,auto);
    gap: 5% 5%;
    
    

}

.container > img {
     /* margin: auto;
    padding: a; uto */
    width: 420px;
    height: 350px;
    
    
  }
